<% layout('master_layout') -%>

<div class="container">

    <div class="jumbotron mt-3">
        <img src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Fibm.box.com%2Fshared%2Fstatic%2F248eq664opppw3r9wg0ps37z66olp2y4.png"
            alt="Wild Duck on with a ballcap backwards, standing next to a cloud logo saying Wild Ducks Devs" style="width: 22rem; float: right">
        <h1 class="display-3">Wild Ducks Devs</h1>
        <p class=" lead ">Warning: Landing Zone of Wild Ducks Devs!</p>
        <p class="lead ">
            <a class="btn btn-primary btn-lg " href="https://www.youtube.com/playlist?list=PLeWl3-6isopMbSg1At-vqWcq19izsqsg6"
                role="button ">YouTube
                Playlist
            </a>
        </p>
    </div>

    <div class="row" id="videos">

        <% items.rows.forEach( (record)=>{ %>

        <div class="col-6">
            <div class="card text-white bg-primary mb-3 " style="max-width: 35rem; ">
                <div class="card-header ">
                    <%- record.doc.title %>
                </div>
                <div class="card-body ">
                    <iframe src="<%- record.doc.url %>" frameborder="0 " allow="autoplay; encrypted-media "
                        allowfullscreen style="width: 100%; height: 15rem "></iframe>
                </div>
            </div>
        </div>

        <% } ) %>

    </div>

</div>