<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="//bootswatch.com/4/cosmo/bootstrap.min.css" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>WDD - Wild Duck Devs
    </title>

    <style>
        #chatbot {
            position: absolute;
            background: white;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
            padding: 2rem 1rem;
            z-index: 9;
            max-height: 400px;
        }

        #messages {
            max-height: 300px;
            overflow-y: auto;
        }

        p.me {
            color: grey;
        }

        p {
            white-space: pre;
            white-space: pre-line;
        }

        a {
            color: white;
            font-weight: bolder
        }

        a:hover {
            color: white;
            font-weight: bold
        }
    </style>
</head>

<body>

    <%- body %>

        <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.7/linkify.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.7/linkify-plugin-hashtag.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.7/linkify-jquery.min.js"></script>




        <script>
            $(function () {
                $('p').linkify();
            });
            $('#sendMessage').click(function (event) {
                fetch('/api/watson', {
                    method: 'post',
                    headers: {
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    body: JSON.stringify({ text: $('#input').val() })
                }).then((text) => {
                    console.log(text);
                    return text.json();
                }).then(j => {
                    let txt = $('#input').val();
                    $('#messages').prepend(`<p class="me">Me: ${txt}</p>`);
                    $('#messages').prepend(`<p>Watson: ${j.text}</p>`);

                    $('#input').val('')
                })

            });
        </script>
</body>

</html>